@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Cairo:wght@200..1000&family=Rubik+Storm&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-weight: 900;
  user-select: none;
}

:root {
  --main--color: #2f4f44;
  --second--color: rgba(255 127 80);
  --text--color: rgb(255, 255, 255);
  --text2--color: rgb(255, 255, 255);
}

body {
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh + 280px);
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 0px;
}

header {
  height: 70px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 15px 20px;
  color: var(--text--color);
  font-size: 18px;
  z-index: 99999;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  top: 0;
}

header a {
  color: var(--main--color);
  font-weight: 1000;
  position: relative;
  margin-top: -11px;
}

header .logo::before {
  content: "في الفيزياء";
  position: absolute;
  top: 21px;
  font-size: 11px;
  right: 0;
  font-weight: 900;
  color: #006943;
}

header i {
  margin-left: 7px;
  font-size: 1.5em;
  color: var(--main--color);
  text-decoration: underline;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px;
}

.logo-button {
  display: none;
  background-color: var(--main--color);
  color: var(--text2--color);
  padding: 6px 20px;
  border: none;
  border-radius: 1000px;
  transition: 0.2s;
  font-weight: 900;
  margin: 0;
  font-size: 13px;
  border: 2px solid var(--main--color);
}

.logo-button:hover {
  border: 2px solid var(--main--color);
  background-color: white;
  color: var(--main--color);
}

.fanos {
  position: absolute;
  left: -10px;
  top: -20px;
  width: 100px;
  transform: rotate(-45deg);
  z-index: -1;
}

.btn {
  background-color: rgba(0 0 0 / 0.8);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: -15px;
  color: #f5f5f5;
  transform: scale(0.8);
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(70px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

.settings-box {
  padding: 15px;
  position: fixed;
  transition: all 0.3s;
  left: -250px;
  top: 69px;
  z-index: 99;
  width: 250px;
  height: calc(100vh - 69px);
  background-color: rgb(255, 255, 255);
  text-align: end;
}

.full-close {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.753);
  width: 100%;
  display: none;
  z-index: 9;
  top: 0;
  height: 100%;
}

.settings-box .i {
  width: 70%;
  color: #467464;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  font-size: 70px;
  align-items: center;
}

.settings-box p {
  margin: 20px 0;
  margin-top: 30px;
  background-color: #00694323;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  width: calc(100% + 0px);
  border-radius: 4px;
  padding: 10px 15px;
  color: #ffffff;
  background: url(../Pictures/mathboard\ -\ Menu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px #00000091;
  border: 3px solid rgb(249, 255, 251);
  outline: 3px solid #000000;
}

.settings-box span {
  font-size: 0.85em;
  display: block;
  font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255);
}

.settings-box a {
  width: 100%;
  display: block;
  background-color: white;
  border-radius: 4px;
  color: #2d4b41;
  margin: 7px auto;
  border: none;
  border-bottom: 3px solid #2d4b41;
  padding: 5px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.settings-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #2d4b41;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  border: 2px solid #2d4b41;
  color: white;
  border-radius: 4px;
}

footer {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 120px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background: url(../Pictures/mathboard\ -\ Footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .info {
  display: flex;
  justify-content: space-around;
  align-items: start;
  text-align: end;
}

footer .info p {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: -35px;
}

footer .info a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
  font-size: 14px;
  position: relative;
}

footer .info a i {
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
  top: 4px;
}

footer .info .cards {
  margin: 5px;
  display: block;
}

footer h3 {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 17px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

footer .Logo {
  position: absolute;
  left: calc(50% - 25px);
  top: 60px;
  transform: translate(-50%, -50%) scale(1.6);
}

footer .Logo a {
  color: rgb(255, 255, 255);
}

footer .Logo i {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  position: absolute;
  top: 8px;
  margin-left: 5px;
  font-size: 1.5em;
  text-decoration: underline;
}

footer .Logo::before {
  content: "في الفيزياء";
  position: absolute;
  top: 21px;
  width: 50px;
  font-size: 9px;
  right: 0;
  font-weight: 900;
  color: #ffffff;
}

footer h3 a {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 17px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.main {
  width: 100%;
  padding-top: 85px;
  height: fit-content;
}

.timer {
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: #000000;
  padding: 0 25px;
  height: 45px;
  padding-bottom: 2px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.progress {
  width: 100%;
  position: absolute;
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: #6d66f3;
  border-radius: 100px;
}

.question {
  display: none;
  height: fit-content;
}

.question p {
  width: 100%;
  direction: rtl;
  font-size: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: -13px 0;
  margin-top: -17px;
}

.question-num {
  position: absolute;
  right: 20px;
  font-size: 11px;
  bottom: 7px;
  color: rgba(0, 0, 0, 0.95);
}

.question img {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.main .info {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .info button {
  width: 120px;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 17px;
  background-color: #000000;
  border: none;
  color: white;
  padding: 5px 0px;
  text-align: center;
}

.main .info button i {
  margin: 0 5px;
}

.subBTN {
  font-size: 17px;
  display: block;
  background-color: #434085;
  border: none;
  color: white;
  border-radius: 4px;
  margin-bottom: 4px;
  height: 45px;
  padding: 0px 25px;
  text-align: center;
  position: relative;
  padding-left: 50px;
}

.subBTN i {
  margin: 0;
  text-decoration: none;
  margin-right: 10px;
  font-size: 24px;
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 30px;
}

#confirmBox {
  display: none;
  position: fixed;
  left: 50%;
  top: 10px;
  direction: rtl;
  z-index: 999999999999999999;
  transform: translate(-50%, 0%);
  width: 95%;
  height: 100px;
  padding: 20px;
  font-size: 23px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-color: #000000;
  color: white;
  padding-bottom: 110px;
  text-align: center;
}

#confirmBox .div {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

#confirmBox button {
  color: black;
  margin: 0 3px;
  margin-top: 10px;
  border-radius: 7px;
  padding: 5px 20px;
  padding-left: 25px;
  border: none;
  background-color: white;
}

#confirmBox button i {
  margin: 0 5px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 4px solid transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
}

.question label {
  display: flex;
  width: 95%;
  max-width: 700px;
  padding: 7px 20px;
  margin: -10px auto;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.question label:has(input[type="radio"]:checked) {
  border: 2px solid #435dd8;
  transform: scale(1.01);
  color: #435dd8;
  box-shadow: 0px 2px 5px rgba(67, 92, 216, 0.2);
}

.post {
  width: 100%;
  min-height: 100vh;
  padding-top: 75px;
}

.card-quiz {
  width: 95%;
  max-width: 800px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  color: white;
  border-radius: 10px;
  height: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background: url(../Pictures/sky.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.card-quiz h2 {
  font-size: 30px;
  margin-top: -5px;
  text-shadow: 2px 3px 1px white;
}

.card-quiz h3 {
  margin-bottom: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: -5px;
}

.card-info button {
  color: white;
  border: none;
  padding: 7px 25px;
  border-radius: 6px;
  background-color: white;
  font-size: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset;
}

.card-info a {
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 6px;
  background-color: white;
  font-size: 14px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) inset;
}

.card-info p {
  display: none;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 15px;
  color: #000000;
}

#lastscoresign {
  margin-right: 5px;
}

#Time_line {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

#Time_line::after {
  content: "غير متوفر حالياً";
  margin-top: -5px;
  text-decoration: underline;
  font-size: 1.5em;
  text-shadow: 0px 0px 20px #000000;
}

.important-massage {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999999999;
  background-color: #fff;
  width: 85%;
  padding: 10px 20px;
  direction: rtl;
  max-width: 500px;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.important-massage h3 {
  color: #000000;
  width: calc(100% + 25px);
  margin-right: -12px;
  font-weight: 800;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.important-massage p {
  color: #141414;
  font-weight: 700;
  width: calc(100% + 25px);
  margin-right: -12px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.important-massage a {
  padding: 7px 25px;
  background-color: #000000;
  display: block;
  color: white;
  width: calc(100% + 10px);
  text-align: center;
  border-radius: 4px;
  margin: 10px 0;
  margin-right: -5px;
  margin-bottom: -0px;
}

.fa-circle-xmark {
  position: absolute;
  left: 12px;
  padding: 5px 7px;
  top: 10px;
  font-size: 25px;
}

.fa-compass {
  margin-left: 5px;
}

.red-sign {
  display: block;
  text-align: center;
  margin-bottom: -15px;
  margin-top: 10px;
}

.full-massage {
  width: 100%;
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 9999999999999999999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.spinner {
  --clr: #2f4f44;
  --gap: 6px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.spinner span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
}

.spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}
@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}
#fullscreenBtn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0 0 0 / 70%);
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: #006943;
  background-color: #000;
  border: none;
  z-index: 9999999999999999999999999999999;
}
.container input:checked ~ .expand {
  display: none;
}
.container input:checked ~ .compress {
  display: block;
}
.container {
  --color: #a5a5b0;
  --size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}
.container .expand {
  position: absolute;
  animation: keyframes-fill 0.5s;
}
.container .compress {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}
.container input:checked ~ .expand {
  display: none;
}
.container input:checked ~ .compress {
  display: block;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}
